@model RaoVar247.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-login" style="height:536px">
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "form" }))
    {
        @Html.AntiForgeryToken()
        <div id="content" style="width: 90%;box-sizing: content-box;padding: 20px 5%;">
            <img src="/bpch.jpg" alt="" width="100%" />
            <h3 class="title">Đăng nhập</h3>
            <div class="row-control">
                @Html.TextBoxFor(model => model.UserName, null, new { @class = "form-control", @placeholder = "User-Name" })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

            </div>
            <div class="row-control">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

            </div>
            <div class="row-control">
                <input type="submit" name="loginbt" id="loginbt" value="Đăng nhập" style="background-color:#fc7638;border-style:none;">
                @if (TempData["WrongLogin"] != null)
                {
                    <p class="text-danger">@TempData["WrongLogin"]</p>
                }
            </div>
            <div class="row-control center margin-top">
                Bạn chưa có tài khoản? <span><a href="/User/Register">Đăng ký</a></span>
            </div>

        </div>
    }
</div>
@if (TempData["RequiredLogin"] != null)
{
    <div class="small-nofi">
        <div class="nofi">@TempData["RequiredLogin"]</div>
    </div>
    <script src="~/Content/small-nofi.js"></script>
}


@section Styles {
    <link href="~/Content/CSS/login.css" rel="stylesheet" type="text/css" />
}
