
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<RaoVar247.Models.Product>
@{
    ViewBag.Title = "Subcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main" style="margin-bottom:8px">
    <div id="navigation">
        <p>Raovat</p>
        <p>>></p>
        <p>Tìm kiếm</p>
    </div>
</div>
<div class="filter">
    <select name="province" id="provinceslt">
        <option value="Toanquoc">Toan Quoc</option>
        <option value="HaNoi">Ha Noi</option>
        <option value="HaiPhong">Hai Phong</option>
    </select>
    <select name="province" id="provinceslt">
        <option value="Toanquoc">Giá</option>
        <option value="HaNoi">Ha Noi</option>
        <option value="HaiPhong">Hai Phong</option>
    </select>
</div>

<div class="container">
    <ul class="product-list">
        @foreach (var item in Model)
        {

            <li class="product-item">
                <a href="/Home/Detail/?productId=@item.ProductId">
                    <div class="product-img">
                        <img src="@Url.Content("~/Content/Images/" + item.ImagePath)" alt="">
                    </div>
                    <div class="product-info">
                        <div class="col-info-1">
                            <p class="product-name">@item.ProductName</p>
                            <p class="product-price">@item.Price đ</p>
                            <div class="row-info">
                                <p class="account">@item.User.UserName |</p>
                                <p class="time">@Math.Round(DateTime.Today.Subtract(item.CreateDate).TotalDays, 0) ngày trước |</p>
                                <p class="address">@item.Address</p>
                                <button type="button">
                                    <img height="20" width="20" src="~/Content/Images/save-ad.svg" alt="like">
                                </button>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <hr width="724" style="margin:2px auto">
        }

    </ul>
    <div class="page-devided">
        <p class="page-number">1</p>
        <p class="page-number">2</p>
        <p class="page-number">3</p>
        <p class="page-number">4</p>
    </div>
</div>

