@model RaoVar247.Models.Product
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="navigation">
        <p>Raovat</p>
        <p>>></p>
        <p>CategoryName</p>
    </div>


    <div class="container-d">
        <div class="main-detail">
            <div class="content">
                <img src="@Url.Content("~/Content/Images/" + Model.ImagePath)" alt="" style="max-width:800px;max-height:800px">
                <div class="product-name">@Model.ProductName</div>
                <div class="product-price">@Model.Price đ</div>
                <ul class="detail-info">
                    <li><p style="white-space:pre-line">@Model.Description</p></li>
                </ul>
                <hr>
                <div class="address-info">
                    <p>Địa chỉ : @Model.Address @Model.District</p>
                </div>
            </div>
        </div>
        @{ Html.RenderAction("ProfileColumn", "User", new {userId = Model.UserId});}
  
    </div>

</div>

@section Styles {
    <link href="~/Content/CSS/detail.css" rel="stylesheet" type="text/css" />
}
