@model IEnumerable<RaoVar247.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

@*//@Html.Partial("CategoryList")*@
@{ 
    Html.RenderAction("CategoryList");
}
<div id="section">
    <h4>Tin đăng gần đây</h4>
    <hr>
    <div class="grid">
        @foreach (RaoVar247.Models.Product item in Model)
        {

            <div class="grid-item">
                <a href="/Home/Detail/?productId=@item.ProductId">
                    @{
                        var imagePath = "~/Content/Images/" + item.ImagePath;
                    }
                    <img src="@Url.Content(imagePath)" alt="">
                    <p class="product-name">@item.ProductName</p>
                    <p class="product-price">@item.Price vnđ</p>
                    <p class="user-name">@item.User.LastName @item.User.FirstName</p>
                    <div class="info-row">
                        <p class="post-time">
                            @Math.Round( DateTime.Today.Subtract(item.CreateDate).TotalDays,0) ngày trước                      
                        </p>
                        <p> | </p>
                        <p class="address">@item.Address</p>
                    </div>
                </a>
            </div>
        }


    </div>
    <div class="page-devided">
        <p class="page-number">1</p>
        <p class="page-number">2</p>
        <p class="page-number">3</p>
        <p class="page-number">4</p>
    </div>
    @if(TempData["Nofi"] != null)
    {
            <div class="small-nofi">
                <div class="nofi">@TempData["Nofi"] </div>
            </div>
            <script src="~/Content/small-nofi.js"></script>
    }
</div>