@model RaoVar247.Models.Product

@{
    ViewBag.Title = "PostNewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="height:784px">
    <div class="content">
        @using (Html.BeginForm("PostNewProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-left">
                <label for="product-img-file">
                    <img id="product-img" src="~/Content/select-image-vector-12503576.jpg" alt="">
                </label>
                <input type="file" name="product-img-file" id="product-img-file" accept="image/*" onchange="displayImg(event)">
                @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
            </div>

            <div class="col-right">
                <div class="row-control">
                    <label for="">Danh mục</label>
                    @Html.DropDownList("SubCategoryId", null, htmlAttributes: new { @class = "form-control", @style = "height: 38px;width: 404px;border - radius: 8px;border - color: #d5d5d5;border - style: solid;padding - left: 8px; " })
                </div>
                <div class="row-control">
                    <label for="">Tiêu đề</label>
                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                </div>
                <div class="row-control">
                    <label for="">Giá</label>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
                <div class="row-control">
                    <label for="">Mô tả</label>
                    <textarea name="Description" id="Description" style="width:404px;height:100px;display:block;overflow-y:scroll" rows="30"></textarea>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="row-control">
                    <label for="">Địa chỉ</label>
                    <select name="calc_shipping_provinces" required="">
                        <option value="">Tỉnh / Thành phố</option>
                    </select>
                    <select name="calc_shipping_district" required="">
                        <option value="">Quận / Huyện</option>
                    </select>
                    <input class="billing_address_1" name="" type="hidden" value="">
                    <input class="billing_address_2" name="" type="hidden" value="">
                </div>
                <div class="row-control">
                    <label for="">Địa chỉ chi tiết</label>
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="row-control">
                    <input type="submit" value="Đăng" onclick="displayImg(event)">
                </div>

            </div>
        }
    </div>
</div>
@if (ViewBag.Nofi != null)
{
    <div class="small-nofi">
        <div class="nofi">@ViewBag.Nofi</div>
    </div>
    <script src="~/Content/small-nofi.js"></script>
}

<script>
    function displayImg(event) {
        var image = document.getElementById('product-img');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<script>
    //<![CDATA[
    if (address_2 = localStorage.getItem('address_2_saved')) {
        $('select[name="calc_shipping_district"] option').each(function () {
            if ($(this).text() == address_2) {
                $(this).attr('selected', '')
            }
        })
        $('input.billing_address_2').attr('value', address_2)
    }
    if (district = localStorage.getItem('district')) {
        $('select[name="calc_shipping_district"]').html(district)
        $('select[name="calc_shipping_district"]').on('change', function () {
            var target = $(this).children('option:selected')
            target.attr('selected', '')
            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
            address_2 = target.text()
            $('input.billing_address_2').attr('value', address_2)
            district = $('select[name="calc_shipping_district"]').html()
            localStorage.setItem('district', district)
            localStorage.setItem('address_2_saved', address_2)
        })
    }
    $('select[name="calc_shipping_provinces"]').each(function () {
        var $this = $(this),
            stc = ''
        c.forEach(function (i, e) {
            e += +1
            stc += '<option value=' + e + '>' + i + '</option>'
            $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
            if (address_1 = localStorage.getItem('address_1_saved')) {
                $('select[name="calc_shipping_provinces"] option').each(function () {
                    if ($(this).text() == address_1) {
                        $(this).attr('selected', '')
                    }
                })
                $('input.billing_address_1').attr('value', address_1)
            }
            $this.on('change', function (i) {
                i = $this.children('option:selected').index() - 1
                var str = '',
                    r = $this.val()
                if (r != '') {
                    arr[i].forEach(function (el) {
                        str += '<option value="' + el + '">' + el + '</option>'
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
                    })
                    var address_1 = $this.children('option:selected').text()
                    var district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('address_1_saved', address_1)
                    localStorage.setItem('district', district)
                    $('select[name="calc_shipping_district"]').on('change', function () {
                        var target = $(this).children('option:selected')
                        target.attr('selected', '')
                        $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                        var address_2 = target.text()
                        $('input.billing_address_2').attr('value', address_2)
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.setItem('address_2_saved', address_2)
                    })
                } else {
                    $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
                    district = $('select[name="calc_shipping_district"]').html()
                    localStorage.setItem('district', district)
                    localStorage.removeItem('address_1_saved', address_1)
                }
            })
        })
    })
//]]></script>